{% extends "publicapp/publiclayout.html" %}
{% block content %}
<body>

   <!-- about -->
   <div class="about py-5" id="about">
       <div class="container">
           <div class="h3-head text-center">
               <h3 class="title-1">ABOUT</h3>
           </div>

           <div class="row py-3">
               <div class="col-md-5 about-img">
                   <img src="../static/publicapp/images/about.jpg" alt="image">
               </div>
               <div class="col-md-7 about-content">
                   <p class="about-text-p text-center">According to Global Payments Reports, credit card is the highest used payment method globally compared to other methods such as e-wallet and Bank Transfer.
                        The huge transactional services are often eyed by cyber criminals to conduct fraudulent activities using the credit card services.</p>
                   <p class="about-text-p text-center">As the use of data  mining techniques credit card fraud activities can be detected. </p>
               </div>

           </div>
       </div>
   </div>
   <!-- //about -->
   
{% endblock %}