{% extends "publicapp/publiclayout.html" %}
{% block content %}
<body>

   <!-- success -->
   <div class="about py-5" id="about">
       <div class="container">
           <div class="h3-head text-center">
               <h3 class="title-1">SUCCESS!!!</h3>
           </div>
           <br><br>
           <div class="row py-3">
               <div class="col-md-5 about-img">
                   <img src="../static/publicapp/images/mail.jpg" alt="image">
               </div>
               <div class="col-md-7 about-content">
                   <br>
                   <p class="about-text-p text-center">Your message sent successfully.</P>
                   <br>
                    <p class="about-text-p text-center">Thank you </p>
                <br>
                
               </div>
           </div>
       </div>
   </div>
   <!-- //success -->
   
{% endblock %}