{% extends "publicapp/publiclayout.html" %}
{% block content %}
<br>
<body>

   <!-- login unsuccessfull -->
   <div class="about py-5" id="about">
       <div class="container">
           <div class="h3-head text-center">
               <h3 class="title-1">LOGIN UNSUCCESSFULL!!!</h3>
           </div>
           <div class="row py-3">
               <div class="col-md-5 about-img">
                   <img src="../static/publicapp/images/error.jpg" alt="image">
               </div>
               <div class="col-md-7 about-content">
                   <br><br>
                   <p class="about-text-p text-center">Invalid username or password. Please check out.</p>
                   <br>
                   <p class="about-text-p text-center">Thank you. </p>
               </div>

           </div>
       </div>
   </div>
   <!-- //login unsuccessfull -->
   
{% endblock %}