{% extends "publicapp/publiclayout.html" %}
{% block content %}
<body>
   
   <!-- banner slider -->
   <div class="slider">
       <div class="callbacks_container">
           <ul class="rslides callbacks callbacks1" id="slider4">
               <li id="callbacks1_s0" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 1000ms ease-in-out 0s;">
                   <div class="banner-top">
                       <div class="layer">
                           
                           <div class="banner-text-top">
                               <h3 class="banner-text-h3">Credit Card Fraud Analysis</h3>
                               <p class="banner-text-p"> Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.</p>
                               <p class="banner-text-p"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                           </div>

                       </div>

                   </div>
               </li>
               <li id="callbacks1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 1000ms ease-in-out 0s;">
                   <div class="banner-top1">
                       <div class="layer">
                           
                           <div class="banner-text-top">
                               <h3 class="banner-text-h3">Credit Card Fraud Analysis</h3>
                               <p class="banner-text-p"> Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.</p>
                               <p class="banner-text-p"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                           </div>

                       </div>

                   </div>
               </li>
               <li id="callbacks1_s2" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 1000ms ease-in-out 0s;">
                   <div class="banner-top2">
                       <div class="layer">
                           
                           <div class="banner-text-top">
                               <h3 class="banner-text-h3">Credit Card Fraud Analysis</h3>
                               <p class="banner-text-p"> Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.</p>
                               <p class="banner-text-p"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                           </div>
                       </div>
                   </div>
               </li>
           </ul><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1 callbacks_here"><a href="#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2"><a href="#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3"><a href="#" class="callbacks1_s3">3</a></li></ul>
       </div>
       <div class="clearfix"> </div>
       <!--banner Slider starts Here-->
   </div>

   <!--//banner slider-->

{% endblock %}