{% extends "publicapp/publiclayout.html" %}
{% block content %}
<br>
<body>

   <!-- registration successfull -->
   <div class="about py-5" id="about">
       <div class="container">
           <div class="h3-head text-center">
               <h3 class="title-1">DONE!!!</h3>
           </div>
           <div class="row py-3">
               <div class="col-md-5 about-img">
                   <img src="../static/publicapp/images/r1.jpg" alt="image">
               </div>
               <div class="col-md-7 about-content">
                   <br><br>
                   <p class="about-text-p text-center">You will get your password via email. Please check your email...</p>
                   <br>
                   <p class="about-text-p text-center">Thank you. </p>
               </div>

           </div>
       </div>
   </div>
   <!-- //registration successfull -->
   
{% endblock %}