{% extends "publicapp/publiclayout.html" %}
{% block content %}

<!--service-->

<div class="response section py-5" id="news">
    <div class="container">
        <div class="h3-head text-center">
            <h3 class="title-1">SERVICES</h3>
        </div>

        <div class="blog-grids py-3">

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                            <img class="media-object" src="../static/publicapp/images/n1.jpg" alt="">
                        </a>
                        </div>
                        <div class="media-body response-text-right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary newsmodel1" data-toggle="modal" data-target="#exampleModal1">
                     D BUSINESS
                    </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="modal-title" id="exampleModalLabel1">
                                                D BUSINESS
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="news-mcontent-h6">What is Lorem Ipsum</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the
                                                1500s, when an unknown printer took a galley of type and scrambled it
                                                to make a type specimen book. It has survived not only five centuries,
                                                but also the leap into electronic typesetting, remaining essentially
                                                unchanged. It was popularised in the 1960s with the release of Letraset
                                                sheets containing Lorem Ipsum passages, and more recently with desktop
                                                publishing software like Aldus PageMaker including versions of Lorem
                                                Ipsum.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- //Modal -->
                            <ul>
                                <li>March 23, 2018</li>
                                <li>8:00 am</li>
                            </ul>
                            <p class="text-right-p">There are many variations of passages of Lorem Ipsum available.</p>

                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="media response-info m2">
                        <div class="media-left response-text-left">
                            <a href="#">
                            <img class="media-object" src="../static/publicapp/images/n2.jpg" alt="">
                        </a>
                        </div>
                        <div class="media-body response-text-right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary newsmodel2" data-toggle="modal" data-target="#exampleModal2">
                      D BUSINESS
                    </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="modal-title" id="exampleModalLabel2">
                                                D BUSINESS
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="news-mcontent-h6">What is Lorem Ipsum</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the
                                                1500s, when an unknown printer took a galley of type and scrambled it
                                                to make a type specimen book. It has survived not only five centuries,
                                                but also the leap into electronic typesetting, remaining essentially
                                                unchanged. It was popularised in the 1960s with the release of Letraset
                                                sheets containing Lorem Ipsum passages, and more recently with desktop
                                                publishing software like Aldus PageMaker including versions of Lorem
                                                Ipsum.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- //Modal -->

                            <ul>
                                <li>March 26, 2018</li>
                                <li>1:00 Pm</li>
                            </ul>
                            <p class="text-right-p">There are many variations of passages of Lorem Ipsum available.</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class=" blog-grids py-3">

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                            <img class="media-object" src="../static/publicapp/images/n3.jpg" alt="">
                        </a>
                        </div>
                        <div class="media-body response-text-right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary newsmodel3" data-toggle="modal" data-target="#exampleModal3">
                      D BUSINESS
                    </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="modal-title" id="exampleModalLabel3">
                                                D BUSINESS
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="news-mcontent-h6">What is Lorem Ipsum</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the
                                                1500s, when an unknown printer took a galley of type and scrambled it
                                                to make a type specimen book. It has survived not only five centuries,
                                                but also the leap into electronic typesetting, remaining essentially
                                                unchanged. It was popularised in the 1960s with the release of Letraset
                                                sheets containing Lorem Ipsum passages, and more recently with desktop
                                                publishing software like Aldus PageMaker including versions of Lorem
                                                Ipsum.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- //Modal -->

                            <ul>
                                <li>March 23, 2018</li>
                                <li>8:00 am</li>
                            </ul>
                            <p class="text-right-p">There are many variations of passages of Lorem Ipsum available.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                            <img class="media-object" src="../static/publicapp/images/n4.jpg" alt="">
                        </a>
                        </div>
                        <div class="media-body response-text-right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary newsmodel4" data-toggle="modal" data-target="#exampleModal4">
                      D BUSINESS
                    </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="modal-title" id="exampleModalLabel4">D BUSINESS</div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                              <span aria-hidden="true">×</span>
                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="news-mcontent-h6">What is Lorem Ipsum</h6>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the
                                                1500s, when an unknown printer took a galley of type and scrambled it
                                                to make a type specimen book. It has survived not only five centuries,
                                                but also the leap into electronic typesetting, remaining essentially
                                                unchanged. It was popularised in the 1960s with the release of Letraset
                                                sheets containing Lorem Ipsum passages, and more recently with desktop
                                                publishing software like Aldus PageMaker including versions of Lorem
                                                Ipsum.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- //Modal -->

                            <ul>
                                <li>March 26, 2018</li>
                                <li>1:00 Pm</li>
                            </ul>
                            <p class="text-right-p">There are many variations of passages of Lorem Ipsum available.</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--//service-->

{% endblock %}