{% extends "publicapp/publiclayout.html" %}
{% block content %}

<!-- terms -->

<div class="blog py-5" id="blog">

    <div class="container">
        <div class="h3-head text-center">
            <h3 class="title-1">BLOG</h3>
        </div>
        <div class="row">
            <div class="col-md-12 py-1">
                <div class="row">
                    <div class="col-md-3 blog-img">
                        <img src="../static/publicapp/images/cw.jpg" alt=" " class="img-responsive">


                    </div>
                    <div class="col-md-9 blog-content">
                        <h6 class="text-h6h">COMPANY WORKS</h6>
                        <p> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. </p>
                        <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb1">
                         more
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalb1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabela" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title" id="exampleModalLabela">COMPANY WORKS</div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12 model-image">
                                            <img src="../static/publicapp/images/cw.jpg" alt=" ">
                                        </div>
                                        <div class="model-content">
                                            <h5 class="model-content-h5">company works</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation .</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 py-1">
                        <div class="row">
                            <div class="col-md-3 blog-img">
                                <img src="../static/publicapp/images/cs.jpg" alt=" " class="img-responsive">


                            </div>
                            <div class="col-md-9 blog-content">

                                <h6 class="text-h6h">COMPANY SITES</h6>
                                <p> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb2">
                         more
                        </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalb2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelb" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabelb">COMPANY SITES</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="../static/publicapp/images/cs.jpg" alt=" ">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">company sites</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud exercitation .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 py-1">
                        <div class="row">
                            <div class="col-md-3 blog-img">

                                <img src="../static/publicapp/images/cb.jpg" alt=" " class="img-responsive">

                            </div>
                            <div class="col-md-9 blog-content">

                                <h6 class="text-h6h">COMPANY BUSINESS</h6>
                                <p> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb3">
                         more
                        </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalb3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelc" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabelc">COMPANY BUSINESS</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="../static/publicapp/images/cb.jpg" alt=" ">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">company business</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud exercitation .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 py-1">

                        <div class="row">
                            <div class="col-md-3 blog-img">
                                <img src="../static/publicapp/images/cv.jpg" alt=" " class="img-responsive ">


                            </div>
                            <div class="col-md-9 blog-content">
                                <h6 class="text-h6h">COMPANY VALUES</h6>
                                <p> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-primary1" data-toggle="modal" data-target="#exampleModalb4">
                         more
                        </button>
                                <!-- Modal -->

                                <div class="modal fade" id="exampleModalb4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeld" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title" id="exampleModalLabeld">COMPANY VALUES</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 model-image">
                                                    <img src="../static/publicapp/images/cv.jpg" alt="">
                                                </div>
                                                <div class="model-content">
                                                    <h5 class="model-content-h5">company values</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud exercitation .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- //terms -->

{% endblock %}